<!-- <p-dataTable [value]="orders">
    <p-column field="id" header="id"></p-column>
    <p-column field="date" header="Дата/час"></p-column>
    <p-column field="driver.name" header="Водій"></p-column>
    <p-column field="from.label" header="Звідки"></p-column>
    <p-column field="number" header="Номер"></p-column>
    <p-column field="status" header="Статус"></p-column>
    <p-column field="mark" header="Оцінка"></p-column>
  </p-dataTable> -->
<div class="title__empty" *ngIf="!orders.length">
  У вас ще немає замовлень
</div>
