.jpix-forgot-password-modal {
    .jpix-forgot-password-comment {
        padding-top: 0.4rem;
        border-top: 1px solid #e5e5e5;
        margin-top: 1rem;
    }
    .jpix-forgot-password-form {
        margin-top: 1rem;
        display: flex;
        button {
            margin-left: 0.5rem;
        }
    }
    .jpix-error-message {
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 0;
    }
}