  <form class="evo-form" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="evo-form__title">Вхід</div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="form-group">
            <div class="evo-input">  
              <p-inputMask mask="+380-99-9999-999" pInputText id="phone" formControlName="phone" class="form-control"></p-inputMask>
              <label for="phone">Телефон</label>
            </div>
          </div>
          <div class="form-group">
            <div class="evo-input">  
              <input pInputText id="password" formControlName="password" class="form-control" type="password" >
              <label for="password">Пароль</label>
            </div>
          </div>
          <div class="form-group">
            <button class="evo-button" type="submit">Увійти</button>  
          </div>                                                                                    
        </div>
      </div>
  </form>