@import "bootstrap-custom";
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "components";
html,
body,
main {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto';
}

button {
  outline: none;
}

.pac-container {
  z-index: 99999;
  .pac-item {
    padding: 5px;
  }
}

.relative {
  position: relative;
}

.form-group {
  margin: 20px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  &.right {
    justify-content: flex-end;
    margin: 10px 0;
  }
  &.left {
    justify-content: flex-start;
    margin: 10px 0;
  }
  &.center-center {
    justify-content: center;
    align-items: center;
  }
  &.center-left {
    justify-content: flex-start;
    align-items: center;
  }
  &.center-between {
    align-items: center;
    justify-content: space-between;
  }
  &.center-around {
    align-items: center;
    justify-content: space-around;
  }
}
