@import "bootstrap-custom";
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "components";
html,
body,
evo-app,
evo-auth,
evo-home,
main {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto';
}

button {
  outline: none;
}

evo-map,
.evo-map {
  height: 100%;
  min-height: 100%;
}

evo-auth,
.evo-auth {
  height: 100%;
  min-height: 100%;
}
evo-profile,
.evo-profile {
  height: 100%;
  min-height: 100%;
}
evo-login,
evo-register {
  height: 100%;
  overflow-y: auto;
}

evo-profile-trucks,
evo-profile-info,
evo-profile-drivers {
  margin: 10px 0;
  height: calc(100% - 146px);
  overflow-y: auto;
  display: block;
  flex-direction: column;
}

.pac-container {
  z-index: 99999;
  .pac-item {
    padding: 5px;
  }
}

.relative {
  position: relative;
}

.form-group {
  margin: 50px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  &.right {
    justify-content: flex-end;
    margin: 10px 0;
  }
  &.center-center {
    justify-content: center;
    align-items: center;
  }
  &.center-left {
    justify-content: flex-start;
    align-items: center;
  }
  &.center-between {
    align-items: center;
    justify-content: space-between;
  }
  &.center-around {
    align-items: center;
    justify-content: space-around;
  }
}
