@import "bootstrap-custom";
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "components";

html,body, evo-app, evo-auth, evo-home, main{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto';
}
.form-group{
    margin:15px 10px;
}
.flex-row{
    display:flex;
    flex-direction:row;
    &.right{
        justify-content: flex-end;
        margin: 10px 0;
    }
    &.center-center{
        justify-content: center;
        align-items: center;
    }

    &.center-between{
        align-items: center;
        justify-content: space-between;
    }
    &.center-around{
        align-items: center;
        justify-content: space-around;
    }
}
