<div class="container evo-register">
  <form autocomplete="off" class="evo-register__form small evo-form" novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()"
    *ngIf="!registeredUser">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <input pInputText id="name" formControlName="name" class="form-control " type="text">
              <label for="name">Ім'я</label>
            </span>
            <validation-messages [control]="registerForm.controls.name"></validation-messages>
          </div>
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <p-inputMask mask="+380-99-9999-999" pInputText id="phone" formControlName="phone" class="form-control "></p-inputMask>
              <label for="phone">Телефон</label>
            </span>
            <validation-messages [control]="registerForm.controls.phone"></validation-messages>
          </div>
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <input pInputText id="password" formControlName="password" class="form-control " type="password">
              <label for="password">Пароль</label>
            </span>
            <validation-messages [control]="registerForm.controls.password"></validation-messages>
          </div>
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <input pInputText id="password_confirmation" formControlName="password_confirmation" class="form-control " type="password">
              <label for="password_confirmation">Підтвердіть пароль</label>
            </span>
            <div class="rb-error" style="color: #f00; text-align: left; font-size: 12px;" *ngIf="registerForm.controls.password.value && registerForm.controls.password_confirmation.value && registerForm.controls.password.value !== registerForm.controls.password_confirmation.value">Паролі не співпадають</div>
            <validation-messages [control]="registerForm.controls.password_confirmation"></validation-messages>
          </div>
          <div class="form-group">
            <button [disabled]="registerForm.invalid" class="evo-button" type="submit">Далі</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div class="evo-register__step" *ngIf="registeredUser && !helperModel.ownership">
    <button class="evo-button" (click)="changeOwnership('users')">Користуватись сервісом</button>
    <button class="evo-button" (click)="changeOwnership('corporate')">Надавати послуги евакуатора</button>
  </div>

  <!-- USER! -->
  <form autocomplete="off" class="evo-register__form small evo-form" novalidate [formGroup]="registerForm" (ngSubmit)="onSubmitAdditionals()"
    *ngIf="registeredUser && helperModel.ownership === 'users'">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <span class="ui-float-label evo-input">
            <input pInputText id="email" formControlName="email" class="form-control " type="text">
            <label for="email">Email</label>
          </span>
          <validation-messages [control]="registerForm.controls.email"></validation-messages>
        </div>
        <div class="form-group" formGroupName="address">
          <google-places [type]="'(cities)'" [label]="{en:'city', ua:'Місто'}" (locationData)="getAddress($event, 'address')"></google-places>
          <validation-messages [control]="registerForm.controls.address.controls.label"></validation-messages>
        </div>
        <div formGroupName="car_attributes">
          <div class="evo-button category" (click)="toggleTransportDialog()">{{helperModel.selectedCategory ? helperModel.selectedCategory : 'Оберіть категорію'}}</div>
          <p-dialog class="transport-dialog" header="Оберіть категорію транспорту" [(visible)]="transportDialog">
            <div class="transport-dialog__content">
              <div *ngFor="let transport of helperModel.transportCategories" class="transport-dialog__content-item" (click)="setCategory(this.transport)">
                <div>{{transport.name}}</div>
                <div class="transport-dialog__content-item-icon type{{transport.value}}"></div>
              </div>
            </div>
          </p-dialog>
          <div class="form-group">
            <p-dropdown [disabled]="!registerForm.controls.car_attributes.controls.category.value" class="evo-dropdown" [options]="brand"
              [filter]="true" filterBy="label" formControlName="brand" (onChange)="carChanged($event)" optionLabel="name"></p-dropdown>
            <validation-messages [control]="registerForm.controls.car_attributes.controls.brand"></validation-messages>

          </div>
          <div class="form-group">
            <p-dropdown [disabled]="!registerForm.controls.car_attributes.controls.brand.value" class="evo-dropdown" [options]="models"
              [filter]="true" filterBy="label" formControlName="model" optionLabel="name"></p-dropdown>
            <validation-messages [control]="registerForm.controls.car_attributes.controls.model"></validation-messages>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="registerForm.invalid" class="evo-button" type="submit">Підтвердити</button>
        </div>
      </div>
    </div>
  </form>

  <div class="evo-register__step" *ngIf="helperModel.ownership == 'corporate' && (helperModel.ownership !== 'drivers' || helperModel.ownership !== 'companies')">
    <button class="evo-button" (click)="changeOwnership('drivers')">Власник евакуатора</button>
    <button class="evo-button" (click)="changeOwnership('companies')">Евакуаторна служба</button>
  </div>


  <form autocomplete="off" class="evo-register__form small evo-form" novalidate *ngIf="helperModel.ownership == 'drivers'"
    [formGroup]="registerForm" (ngSubmit)="onSubmitAdditionals('drivers')">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <span class="ui-float-label  evo-input">
            <input pInputText id="email" formControlName="email" class="form-control " type="text">
            <label for="email">Email</label>
          </span>
        </div>
        <div class="form-group">
          <span class="ui-float-label  evo-input">
            <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2018" dateFormat="dd.mm.yy" [locale]="helperModel.ua"
              formControlName="birthday" class="form-control "></p-calendar>
            <label for="birthday">Дата народження</label>
          </span>
        </div>
        <div class="form-group" formGroupName="address">
          <google-places [label]="{en:'address', ua:'Фізична адреса'}" [type]="'address'" (locationData)="getAddress($event, 'address')"></google-places>
        </div>

        <div class="form-group">
          <span class="ui-float-label  evo-input">
            <input pInputText id="passport" formControlName="passport" class="form-control " type="text">
            <label for="passport">Серія та номер паспорту</label>
          </span>
        </div>

        <div class="form-group">
          <button [disabled]="registerForm.invalid" class="evo-button" type="submit">Підтвердити</button>
        </div>

      </div>
    </div>

  </form>

  <form autocomplete="off" class="evo-register__form big evo-form" novalidate *ngIf="helperModel.ownership == 'companies'"
    [formGroup]="registerForm" (ngSubmit)="onSubmitAdditionals('companies')">
    <div class="row">
      <div class="col-md-12 text-center">
          <div class="form-group ">
            <span class="ui-float-label  evo-input">
              <input pInputText id="title" formControlName="title" class="form-control " type="text">
              <label for="title">Назва компанії</label>
            </span>
          </div>
          <div class="form-group">
            <p-dropdown class="evo-dropdown" [options]="helperModel.ownershipTypes" formControlName="ownership"></p-dropdown>
          </div>
        <div class="form-group" *ngIf="registerForm.get('ownership').value === 'OTHER'">
          <span class="ui-float-label  evo-input">
            <input pInputText id="other_ownership" formControlName="other_ownership" class="form-control " type="text">
            <label for="other_ownership">Інша форма реєстрації</label>
          </span>
        </div>
        <div class="form-group" *ngIf="registerForm.get('ownership').value === 'FOP'">
          <span class="ui-float-label  evo-input">
            <p-inputMask pInputText mask="9999999999" id="id_code" formControlName="id_code" class="form-control "></p-inputMask>
            <label for="id_code">Ідентифікаційний код</label>
          </span>
        </div>
          <div class="form-group" *ngIf="registerForm.get('ownership').value !== 'FOP'">
            <span class="ui-float-label  evo-input">
              <p-inputMask pInputText mask="99999999" id="zkpo" formControlName="zkpo" class="form-control "></p-inputMask>
              <label for="zkpo">Код ЗКПО</label>
            </span>
          </div>
          <div class="form-group">
            <p-dropdown class="evo-dropdown" [options]="helperModel.taxFormTypes" formControlName="tax_form"></p-dropdown>
          </div>
          <div class="form-group" formGroupName="official_address" *ngIf="registerForm.get('ownership').value !== 'FOP'">
            <google-places [type]="'address'" [label]="{en:'official_address', ua:'Юридична адреса'}" (locationData)="getAddress($event, 'official_address')"></google-places>
          </div>
          <div class="form-group" formGroupName="physical_address">
           <google-places [type]="'address'" [label]="{en:'physical_address', ua:'Фізична адреса'}" (locationData)="getAddress($event, 'physical_address')"></google-places>
          </div>
        <div formGroupName="director" >
          <div class="form-group">
            <span class="ui-float-label evo-input">
              <input pInputText id="director_name" formControlName="name" class="form-control " type="text">
              <label for="director_name">ФІО директора</label>
            </span>
          </div>
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <p-inputMask mask="+380-99-9999-999" pInputText id="director_phone" formControlName="phone" class="form-control "></p-inputMask>
              <label for="director_phone">Телефон директора</label>
            </span>
          </div>
        </div>
        <div formGroupName="liable" *ngIf="registerForm.get('ownership').value !== 'FOP'">
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <input pInputText id="liable_name" formControlName="name" class="form-control " type="text">
              <label for="liable_name">ФІО відповідальної особи</label>
            </span>
          </div>
          <div class="form-group">
            <span class="ui-float-label  evo-input">
              <p-inputMask mask="+380-99-9999-999" pInputText id="liable_phone" formControlName="phone" class="form-control "></p-inputMask>
              <label for="liable_phone">Телефон відповідальної особи</label>
            </span>
          </div>
        </div>
        <div class="form-group">
          <span class="ui-float-label evo-input">
            <input pInputText id="static_phone" formControlName="static_phone" class="form-control " type="text">
            <label for="static_phone">Стаціонарний телефон</label>
          </span>
        </div>
        <div class="form-group">
          <div class="evo-register__form--submit" (click)="setTestData()">TEST DATA</div>
        </div>
        <div class="form-group">
          <button [disabled]="registerForm.invalid"  class="evo-button" type="submit">Підтвердити</button>
        </div>
        <div class="form-group">
          або
          <a [routerLink]="['/login']"> увійдіть в аккаунт</a>
        </div>
      </div>
    </div>

  </form>

</div>
