.evo-register {
  height: 100%;
  &__step {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }
  .evo-button {
    margin: auto;
    &.category {
      width: 50px;
      font-size: 14px;
    }
  }
}
