.evo-register{
    font-family: 'Roboto';
    min-height:100%; 
    .registration__step{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        height:100%;
        &--title{
            font-weight: 300;
            margin-bottom:50px;
        }
        &--button{
            @include evo-primary-gradient;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            font-weight: 300;
            font-size: 15px;
            color:#fff;
            padding: 15px;
            &:hover{
                @include evo-primary-reverse;            
            }
        }
    }
    &__form{
        display:flex;
        flex-direction: column;
        align-items:stretch;
        justify-content:center;
        &.small{
            max-width: 370px;
            margin: auto;
        }
        &.big{
            max-width: 365px;
            margin: auto;
        }           
        &--transport{
            max-width: 48.25rem;
            flex-wrap: wrap;
            &-item{
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 115px;
            }
        }
        .title{
            font-size: 29px;
            font-weight: 400;
            color: $evo-blue-dark;
            text-shadow: 0 3px 6px #b0b0b09a;
        }
        &--submit{
            &[disabled]{
                background: #d9d9d9;
                border-color: #868686;
                color: #868686;
            }
            @include evo-primary-gradient;
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            font-weight: 300;
            font-size: 15px;
            color:#fff;
            padding: 15px;
            width:$base-width;
            &:hover{
                @include evo-primary-reverse;            
            }            
        }
    }
}