<div class="landing">

  <div class="landing__banner">
    <div class="landing__banner__title">Обирайте найближчий евакуатор</div>
    <div class="landing__banner__description">Зручно, вигідно, швидко</div>
    <div class="landing__banner__wrapper col-md-8 col-xs-12" >
      <div class="evo-input flex-row">
        <google-places style="width: 100%" [type]="searchType.type" (locationData)="getAddress($event, 'where')" (focus)="dropdownFunction($event)" (focusout)="dropdownFunction($event)"
          [defaultAddress]="helperModel" [placeholder]="searchType.placeholder"></google-places>
        <label for="search">Де ви?</label>
        <button class="evo-button evo-button-green" (click)="searchTruck()" [disabled]="!helperModel.label">Знайти евакуатор</button>
      </div>
      <div class="landing__banner__wrapper__sdropdown" *ngIf="showDropdown">
        <div class="landing__banner__wrapper__sdropdown__item" (click)="setSearchType(this.item.value)" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
          *ngFor="let item of searchOptions">{{item.label}}</div>
      </div>
    </div>
  </div>

  <div class="landing__hit">
    <div class="landing__hit__item">
      <div class="landing__hit__item__image">
        <img src="./assets/wrau.png" alt="">
      </div>
      <div class="landing__hit__item__title">Вкажіть де ви</div>
    </div>
    <div class="landing__hit__item">
      <div class="landing__hit__item__image">
        <img src="./assets/near.png" alt="">
      </div>
      <div class="landing__hit__item__title">Виберіть найближчий</div>
    </div>
    <div class="landing__hit__item">
      <div class="landing__hit__item__image">
        <img src="./assets/call.png" alt="">
      </div>
      <div class="landing__hit__item__title">Викликайте евакуатор</div>
    </div>
  </div>

  <div class="landing__trucks">
    <div class="landing__trucks__title">Евакуатори у Вашому місті</div>
    <div class="landing__trucks__item col-md-4 col-sm-4 col-xs-12">
      <div class="landing__trucks__item__image">
        <img src="./assets/truck1.jpg" alt="">
      </div>
      <div class="landing__trucks__item__description">
        <div class="landing__trucks__item__description__mark">

          <div class='rating-stars text-center'>
            <ul id='stars'>
              <li class='star selected' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            </ul>
          </div>

        </div>
        <div class="landing__trucks__item__description__driver">
          <h1>Вінниця</h1>
          <h2>Степан</h2>
          <img src="./assets/driver1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="landing__trucks__item col-md-4 col-sm-4 col-xs-12">
      <div class="landing__trucks__item__image">
        <img src="./assets/truck2.jpg" alt="">
      </div>
      <div class="landing__trucks__item__description">
        <div class="landing__trucks__item__description__mark">

          <div class='rating-stars text-center'>
            <ul id='stars'>
              <li class='star selected' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            </ul>
          </div>

        </div>
        <div class="landing__trucks__item__description__driver">
          <h1>Вінниця</h1>
          <h2>Степан</h2>
          <img src="./assets/driver2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="landing__trucks__item col-md-4 col-sm-4 col-xs-12">
      <div class="landing__trucks__item__image">
        <img src="./assets/truck3.jpg" alt="">
      </div>
      <div class="landing__trucks__item__description">
        <div class="landing__trucks__item__description__mark">

          <div class='rating-stars text-center'>
            <ul id='stars'>
              <li class='star selected' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            </ul>
          </div>

        </div>
        <div class="landing__trucks__item__description__driver">
          <h1>Вінниця</h1>
          <h2>Степан</h2>
          <img src="./assets/driver3.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="landing__benefits container">
    <div class="landing__trucks__title">Цінуй свій час і гроші</div>

    <div class="landing__benefits__item col-md-3 col-sm-6 col-xs-12">
      <div class="landing__benefits__item__image">
        <img src="./assets/b1.png" alt="">
      </div>
      <div class="landing__benefits__item__title">просто</div>
    </div>
    <div class="landing__benefits__item col-md-3 col-sm-6 col-xs-12">
      <div class="landing__benefits__item__image">
        <img src="./assets/b2.png" alt="">
      </div>
      <div class="landing__benefits__item__title">Швидко</div>
    </div>
    <div class="landing__benefits__item col-md-3 col-sm-6 col-xs-12">
      <div class="landing__benefits__item__image">
        <img src="./assets/b3.png" alt="">
      </div>
      <div class="landing__benefits__item__title">Дешево</div>
    </div>
    <div class="landing__benefits__item col-md-3 col-sm-6 col-xs-12">
      <div class="landing__benefits__item__image">
        <img src="./assets/b4.png" alt="">
      </div>
      <div class="landing__benefits__item__title">Безпечно</div>
    </div>
  </div>
</div>
