.jpix-add-student-modal {
    .jpix-input--primary {
      width: rem(128px);
      display: inline-block;
    }
  .modal-title {
    float: left;
    width: 80%;
    font-weight: 600;
  }
  .close {
    margin-top: 10px;
  }
  h3 {
    font-size: $jpix-font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
    color: $jpix-grey-night;
    margin: 10px 0;
  }
  .modal-body {
    font-size: $jpix-font-size-sm;
    h4 {
      padding: rem(10px) 0;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .modal-footer {
    .jpix-button {
      margin-left: rem(10px);
      &:first-child {
        margin-left: 0;
      }

      &--small {
        width: auto;
        min-width: rem(120px);
        font-size: $jpix-font-size-s;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .jpix-add-student-modal {
    .modal-footer {
      .jpix-button {
        &--small {
          min-width: rem(150px);
        }
      }
    }
  }
}

@media (max-width: $jpix-screen-ultra-sm-max) {
  .jpix-add-student-modal {
    .modal-footer {
      text-align: center;
      .jpix-button {
          &--small {
            min-width: auto;
            padding-left: 1rem; 
            padding-right: 1rem; 
          }
      }
    }
  }
}