<div class="evo-auth">
  <evo-header class="auth_header" [hasSearchLink]="hasSearchLink" [isLogged]="isLogged" [headerStyle]="'title'" (toggleMobileNav)="onToggleMobileNav()" [(title)]="title"></evo-header>
  <router-outlet></router-outlet>
  <div class="navigation_bar row">
    <div [routerLinkActive]="['active']" [routerLink]="['/auth/register']" class="navigation_bar-item text-center">
      <div class="navigation_bar-item-button">
        <i class="fa fa-user-o"></i>
      </div>
      <div class="navigation_bar-item-title">
        Реєстрація
      </div>
    </div>
    <div [routerLinkActive]="['active']" [routerLink]="['/auth/login']" class="navigation_bar-item text-center">
      <div class="navigation_bar-item-button">
        <i class="fa fa-angle-right"></i>
      </div>
      <div class="navigation_bar-item-title">
        Вхід
      </div>
    </div>
  </div>
</div>
<!-- <footer>
  <evo-footer [hideOrdersLink]="true"></evo-footer>
</footer> -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAJDovioj36qSMAHr2LCpy3rmlcPxVevuM"></script>
