<button class="evo-button evo-button__square" (click)="addTruck()">Додати евакуатор</button>
<div *ngIf="!trucks.length">У вас ще немає жодного евакуатора</div>
<p-table [columns]="cols" [(value)]="trucks" [responsive]="true" *ngIf="trucks.length">
  <ng-template pTemplate="header">
    <tr>
      <th>Фото</th>
      <th>Номерний знак</th>
      <th>Марка</th>
      <th>Модель</th>
      <th>Підйомність</th>
      <th>Типи</th>
      <th>Геолокація</th>
      <th *ngIf="loggedUser.role =='company'">Водій</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-truck>
    <tr>
      <td>{{truck.photo}}</td>
      <td>{{truck.registration_number}}</td>
      <td>{{truck.car_attributes.brand.name}}</td>
      <td>{{truck.car_attributes.model.name}}</td>
      <td>{{truck.weight_limit}}</td>
      <td>
        <span *ngFor="let type of truck.car_types">{{type.name}}, </span>
      </td>
      <td>{{truck.address.label}}</td>
      <td *ngIf="loggedUser.role =='company'">{{truck.user ? truck.user.name : 'Без водія'}}</td>
      <td>
        <div class="flex-row center-around">
          <button pButton icon="fa-edit" (click)="editTruck(this.truck)"></button>
          <button class="ui-button-danger" pButton icon="fa-times" (click)="deleteTruck(this.truck)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Показано {{trucks?.length}} евакуаторів
  </ng-template>
</p-table>
<ng-template *ngIf="trucks.length">
  Ви додали ще жодного евакуатора :С
</ng-template>
<!-- <p-dataTable [(value)]="trucks">
  <p-column field="photo" header="Фото"></p-column>
  <p-column field="registration_number" header="Номерний знак"></p-column>
  <p-column field="car_attributes.brand.name" header="Марка"></p-column>
  <p-column field="car_attributes.model.name" header="Модель"></p-column>
  <p-column field="weight_limit" header="Вантажопідйомність"></p-column>
  <p-column field="(...car_types).name" header="Типи"></p-column>
  <p-column field="address.label" header="Місцезнаходження"></p-column>
</p-dataTable> -->

<p-dialog class="add-truck" header="Додавання евакуатора" [(visible)]="truckDialog" (onHide)="clearForm()">
  <form [formGroup]="truckForm" (ngSubmit)="submitCreation(truckForm.editMode ? 'editMode': 'addMode')">
      <div class="form-group">
        <span class="ui-float-label blue evo-input">
          <input pInputText id="name" formControlName="registration_number" class="form-control " type="text">
          <label for="registration_number">Реєстраційний номер</label>
        </span>
        <validation-messages [control]="truckForm.controls.registration_number"></validation-messages>
      </div>
      <div class="form-group">
        <span class="ui-float-label blue evo-input">
          <input pInputText NumberOnly id="name" formControlName="passengers_count" class="form-control " type="text">
          <label for="passengers_count">Кількість пасажирських місць</label>
        </span>
        <validation-messages [control]="truckForm.controls.passengers_count"></validation-messages>
      </div>

      <div class="form-group">
        <span class="ui-float-label blue evo-input">
          <input pInputText NumberOnly id="name" formControlName="weight_limit" class="form-control " type="text">
          <label for="weight_limit">Вантажопідйомність(кг)</label>
        </span>
        <validation-messages [control]="truckForm.controls.weight_limit"></validation-messages>
      </div>
      <div class="form-group">
        <span class="ui-float-label blue evo-input">
          <input pInputText id="price" formControlName="price" class="form-control " type="text">
          <label for="price">Ціна за кілометр</label>
        </span>
        <validation-messages [control]="truckForm.controls.price"></validation-messages>
      </div>
    <div formGroupName="car_attributes">
      <div class="form-group">
        <p-dropdown class="evo-dropdown" [options]="brands" [filter]="true" filterBy="label" formControlName="brand" (onChange)="carChanged($event)"
          optionLabel="name"></p-dropdown>
        <validation-messages [control]="truckForm.controls.car_attributes.controls.brand"></validation-messages>

      </div>
      <div class="form-group">
        <p-dropdown class="evo-dropdown" [options]="models" [filter]="true" filterBy="label" formControlName="model" optionLabel="name"></p-dropdown>
        <validation-messages [control]="truckForm.controls.car_attributes.controls.model"></validation-messages>
      </div>
    </div>



    <div *ngIf="loggedUser.role == 'company' " class="form-group">
      <p-dropdown class="evo-dropdown" [(options)]="drivers" formControlName="company_user_id" optionLabel="name"></p-dropdown>
      <validation-messages [control]="truckForm.controls.company_user_id"></validation-messages>

    </div>


    <div class="form-group">
      <p-multiSelect class="evo-dropdown" [options]="transportCategories" [maxSelectedLabels]="5" [defaultLabel]="'Типи транспорту для перевезення'"
        [displaySelectedLabel]="true" formControlName="car_types" optionLabel="name"></p-multiSelect>
      <validation-messages [control]="truckForm.controls.car_types"></validation-messages>

    </div>
    <div class="form-group" formGroupName="address">
      <google-places [type]="'address'" [label]="{en:'address', ua:'Місцезнаходження'}" (locationData)="getAddress($event, 'address')"></google-places>
    </div>

    <div class="form-group">
      <span class="ui-float-label blue evo-input textarea">
        <textarea [rows]="3" pInputTextarea id="description" formControlName="description" class="form-control " placeholder="Примітка для клієнтів"></textarea>
      </span>
      <validation-messages [control]="truckForm.controls.description"></validation-messages>
    </div>

    <div class="form-group flex-row right">
      <button *ngIf="!truckForm.editMode" class="evo-button" type="submit">Додати</button>
      <button *ngIf="truckForm.editMode && truckForm.valid" class="evo-button" type="submit">Зберегти</button>
    </div>
  </form>
  <div class="clearfix"></div>
</p-dialog>
