  /* stylelint-disable */
  @mixin primary-border {
  $border-top-left: 2px solid $evo-grey;
  $border-bottom-right: 2px solid $evo-grey-light;
  border-top: $border-top-left;
  border-left: $border-top-left;
  border-bottom: $border-bottom-right;
  border-right: $border-bottom-right;
}

@mixin primary-error-border {
  $error-border: 1px solid $evo-error;
  border-top: $error-border;
  border-left: $error-border;
  border-bottom: $error-border;
  border-right: $error-border;
}