<div class="evo-header" *ngIf="headerStyle === 'menu'">

  <div class="container">
    
    <div class="evo-header__row"> 
      <div class="evo-header__logo ">
        <div [routerLink]="['/']">Cars<span>Work.<span>com</span></span>
        </div>
      </div>
    </div>

    <div class="evo-header__row">
      <div class="evo-header__item" *ngIf="!user">
        <div [routerLink]="['/auth/register']">Як додати евакуатор?</div>
      </div>
      <div [routerLink]="['/auth/login']" class="evo-button evo-button__solid">Реєстрація/Вхід</div>
    </div>
  </div>

  <div class="evo-header container-fluid" *ngIf="headerStyle === 'title'">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 text-center evo-header__title">
      {{title ? title : ''}}
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>
