  /* stylelint-disable */

  .evo-header {
    background-color: $evo-main;
    padding: 10px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:before,
      &:after {
        display: none;
      }
    }
    &__row {
      flex-direction: row;
      display: flex;
      align-items: center;
    }
    &__logo {
      &:hover {
        text-decoration: none;
        color: inherit;
      }
      color: #fff;
      font-size: 30px;
      span {
        color: #59d389;
        span {
          font-size: 16px;
        }
      }
    }
    &__item {
      color: #fff;
      font-size: 14px;
      margin-right: 70px;
    }
    &__user {
      display: flex;
      align-items: center;
      &__avatar {
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;
        align-items: flex-end;
        justify-content: center;
        background: #fff;
        color: black;
        margin-right: 10px;
        i {
          font-size: 35px;
          margin-bottom: -5px;
        }
      }
      &__name {
        font-size: 14px;
        letter-spacing: 1px;
        color: rgb(255, 255, 255);
        font-family: "Ubuntu";
        text-align: center;
        text-transform: uppercase;
        i {
          margin-left: 15px;
        }
      }
    }
  }
