<div class="evo-header" *ngIf="headerStyle === 'menu'">

  <div class="container">

    <div class="evo-header__row">
      <div class="evo-header__logo ">
        <div [routerLink]="['/']">Cars
          <span>Work.
            <span>com</span>
          </span>
        </div>
      </div>
    </div>

    <div class="evo-header__row">
      <div class="evo-header__item">
        <div [routerLink]="['/auth/register']">Як додати евакуатор?</div>
      </div>
      <div *ngIf="!user" [routerLink]="['/auth/login']" class="evo-button evo-button-solid">Реєстрація/Вхід</div>
      <div *ngIf="user" class="evo-header__user">
        <div class="evo-header__user__avatar">
          <i class="fa fa-user"></i>
        </div>
        <div class="evo-header__user__name">{{user.name || 'Користувач'}}
            <i class="fa fa-chevron-down"></i>
        </div>
      </div>
    </div>
  </div>

</div>
