  /* stylelint-disable */

  .evo-header {
    background-color: $evo-main;
    height: 65px;
    display: flex;
    align-items: stretch;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:before,
      &:after {
        display: none;
      }
    }
    &__row {
      flex-direction: row;
      display: flex;
      align-items: center;
    }
    &__logo {
      &:hover {
        text-decoration: none;
        color: #fff !important;
      }
      color: #fff;
      font-size: 30px;
      span {
        color: #59d389;
        span {
          font-size: 1rem;
        }
      }
    }
    &__item {
      color: #fff;
      font-size: 0.9rem;
      margin-right: 70px;
    }
    &__user {
      display: flex;
      align-items: center;
      position: relative;
      height: 65px;
      &:hover .evo-header__user__dropdown {
        display: block;
      }
      &__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        background: #fff;
        min-width: 140px;
        margin: 0;
        right: 0;
        padding: 10px 0;
        &::before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 10px 10px;
          border-color: transparent transparent #ffffff transparent;
          _border-color: #000000 #000000 #1f1f1f #000000;
          _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
          position: absolute;
          top: -10px;
          right: 0;
        }
        li {
          list-style-type: none;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 0.875rem;
          color: rgb(33, 33, 33);
          font-family: "Ubuntu", sans-serif;
          &:hover {
            background: #eee;
          }
        }
      }
      &__avatar {
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;
        align-items: flex-end;
        justify-content: center;
        background: #fff;
        color: black;
        margin-right: 10px;
        i {
          font-size: 35px;
          margin-bottom: -5px;
        }
      }
      &__name {
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: rgb(255, 255, 255);
        font-family: "Ubuntu";
        text-align: center;
        text-transform: uppercase;
        i {
          margin-left: 15px;
        }
      }
    }
  }
