.evo-map {
  display: flex;
  position: relative;
  font-family: 'Roboto';
  agm-map {
    height: 100%;
    min-height: 100%;
    width: 100%;
    &.disabled {
      &:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        left: 0;
        margin: auto;
      }
    }
  }
  &__form {
    &-search {
      top: 0;
      left: 0;
      width: 85%;
      right: 0;
      margin: 20px auto;
      position: absolute;
      display: flex;
      border-radius: 30px;
      overflow: hidden;
      box-shadow: 0 10px 20px 0px rgba(173, 173, 173, 0.4);
      transition: .1s all ease-in;
      z-index: 4;
      &.focused {
        width: 90%;
      }
      .form-control {
        height: 55px;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        padding: 6px 5px;
      }
      &-button {
        background: #fff;
        border: 0;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.clean {
          i {
            color: #c8c8c8;
            font-size: 26px;
          }
        }
        &.filter {
          position: relative;
          i {
            font-size: 23px;
          }
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 1px;
            height: 35px;
            background-color: #e3e3e3;
          }
        }
      }
    }
    &-request {
      padding-bottom: 20px;
      padding-top: 0px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 -10px 20px 0px rgba(173, 173, 173, 0.4);
      &-wrapper {
        margin-top: -45px;
        position: relative;
        z-index: 1;
        box-shadow: 0 -30px 30px -10px rgba(173, 173, 173, 0.3);
        &-info {
          color: #d9d9d9;
          padding-top: 20px;
        }
        &-space {
          position: absolute;
          width: 88%;
          top: -8px;
          height: 20px;
          background: white;
          left: 0;
          right: 0;
          margin: auto;
        }
        &:before {
          content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='m0,0l110,0.240979c-104.5745,40.965606 -37.106377,65.935214 -110,87.695191l0,-87.93617z' fill='#fff'></path></svg>");
          width: 65px;
          height: 65px;
          position: absolute;
          transform: rotate(180deg);
          top: -16px;
          left: -50px;
          z-index: 1;
        }
        &:after {
          content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='m0,0l110,0.240979c-104.5745,40.965606 -37.106377,65.935214 -110,87.695191l0,-87.93617z' fill='#fff'></path></svg>");
          width: 65px;
          height: 65px;
          position: absolute;
          transform: rotate(180deg);
          top: -16px;
          right: -50px;
          transform: rotateX(180deg);
          z-index: 1;
        }
        button {
          // border-top: 10px solid #fff;
          padding: 15px 25px;
          min-width: 245px;
          z-index: 9999;
          position: relative;
          &.filter {
            z-index: 1;
          }
        }
      }
    }
  }
  &__truck {
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    &-close {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 15px;
      width: 50px;
      background: $evo-grey-background;
      height: 50px;
      top: 10px;
      border-radius: 50%;
      i {
        color: #a7a7a7;
        font-size: 29px;
      }
    }
    &-title {
      font-family: 'Roboto';
      font-size: 25px;
      color: $evo-text;
      font-weight: 400;
    }
    &-details {
      color: $evo-grey-background-text;
      margin-top: 10px;
    }
    &-car {
      margin: 20px auto;
      justify-content: space-around !important;
      max-width: 600px;
      &-image {
        width: 100%;
        text-align: center;
        max-width: 200px;
        margin: 0 5px;
        img {
          transform: rotateY(180deg);
        }
      }
      &-number {
        margin: 0 5px;
        width: 100%;
        text-align: center;
        border: 1px solid $evo-grey-border;
        height: 100%;
        display: block;
        padding: 20px;
        border-radius: 5px;
        color: #a9a9a9;
        max-width: 150px;
      }
    }
    &-driver {
      font-size: 19px;
      color: $evo-grey-background-text;
      margin-bottom: 20px;
      &-details {
        font-style: italic;
        font-size: 0.9rem;
      }
    }
  }
}
