.evo-map {
  display: flex;
  position: relative;
  font-family: 'Roboto';
  agm-map {
    height: 90vh;
    flex: 6 7;
  }
  &__form {
    &-search {
      top: 0;
      left: 0;
      width: 85%;
      right: 0;
      margin: 20px auto;
      position: absolute;
      display: flex;
      border-radius: 30px;
      overflow: hidden;
      box-shadow:0 15px 30px -3px rgba(173, 173, 173, 0.28);
      .form-control{
        height:55px;
        border: 0;
        box-shadow: none;
      }
      &-button{
        background: #fff;
        border: 0;
        width: 70px;
        &.clean{
          i{
            color:#c8c8c8;
            margin-top: 5px;
            font-size: 26px;
          }
        }
        &.speak{
          position: relative;
          i{
            margin-top: 5px;
            font-size: 23px;
          }
          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width:1px;
            height: 35px;
            background-color: #e3e3e3;
          }
        }
      }
    }
  }
}

//   &__search {
//     flex: 1 7;
//     box-shadow: -5px 0 20px 0px #b9b9b9;
//     z-index: 1;
//     .title {
//       text-align: center;
//       color: $evo-grey-dark;
//       font-size: 23px;
//       font-weight: 400;
//       margin-bottom: 20px;
//     }
//     &--form {
//       &--submit {
//         @include evo-primary-gradient;
//         cursor: pointer;
//         border-width: 1px;
//         border-style: solid;
//         border-color: transparent;
//         border-radius: 3px;
//         font-weight: 300;
//         font-size: 17px;
//         color: #fff;
//         padding: 15px;
//         width: $base-width;
//         &:hover {
//           @include evo-primary-reverse;
//         }
//       }
//     }
//   }
// }
