
  $base-width: rem(280px);
  $base-height: rem(50px);
  .evo-button{
    display: block;
    color: #6c6750;
    background: #fed803;
    font-family: 'Roboto';
    border: 0;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px 25px;
    min-width: 200px;
    outline: none !important;
    &.category{
      width: 50px;
      font-size: 14px;
      text-align: center;
      margin: auto;
    }
    &[disabled]{
      background-color: #ebebeb;
      border: 1px solid #dedede;
    }
}
