.color-picker {
  @media (max-width: $jpix-screen-s-max) {
    left:0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    .arrow {
      display: none;
    }
  }
  ;
  .saturation-lightness,
  .hex-text,
  .type-policy,
  .box {
    display: none !important;
  }
  .preset-area {
    .preset-color {
      width: 27px !important;
      height: 27px !important;
    }
  }
}

@media (max-width: $jpix-screen-s-max) {
  .jpix-icon-customizer {
    .jpix-color-picker {
      .jpix-color-picker__dropdown {
        left: -300% !important;
      }
    }
  }
}