.ui-dialog{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999 !important;
    position: fixed;
    span.ui-dialog-title{
      font-size:1.4em !important;
    }
    &-content {
      max-height: calc(100% - 45px);
      overflow: auto;
    }
    &-titlebar {
      background: $evo-yellow;
      color: $evo-title-text;
      padding: 1.7em 1.5em !important;
      &-icon{
        font-size: 19px;
      }
    }
}
