.ui-inputtext.ui-state-focus, .ui-inputtext:focus{
  box-shadow: 0;
}
p-dropdown{
  width: 100% !important;
  .ui-dropdown{
    width:100% !important;
    border: 0;
    border-bottom: 1px solid $evo-grey;
    border-radius: 0;
    &-label{
      font-size: 18px;
      padding: 6px 12px;
      text-align: left;
      font-family: 'Roboto';
      font-weight: 400;
    }
  }
}
