  /* stylelint-disable */
  @font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700');
	font-weight: bold;
	font-style: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

// .evo-text-bold {
//   font-weight: bold;
// }

// .evo-title, .evo-subtitle {
//   color: $evo-blue-dark;
//   font-weight: 400;
//   margin: 0;
// }

// .evo-title {
//   font-size: rem(28px);
// }

// .evo-subtitle {
//   font-size: rem(14px);
// }

// .evo-section-title {
//   color: $evo-orange;
//   font-weight: 700;
//   margin: rem(20px) 0;
//   font-size: rem(18px);
// }

