  /* stylelint-disable */
  @font-face {
	font-family: 'Ubuntu';
	src: url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,700');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
	font-weight: bold;
	font-style: normal;
}

body{
  font-family: 'Ubuntu';
}