.jpix-form {
  label {
    font-size: $jpix-font-size-s;
    text-transform: uppercase;
    color: $jpix-grey-night;
    font-weight: 400;
  }
}

.jpix-search-form {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}