.jpix-h1 {
  font-size: rem(45px);
  font-weight: 300;
}

.jpix-h2 {
  font-size: rem(45px);
  font-weight: 300;
  text-transform: uppercase;
  color: $jpix-blue-primary-dark;
  line-height: 1.2;
}

.jpix-h3 {
  font-size: rem(14px);
  font-weight: bold;
  text-transform: uppercase;
  color: $jpix-grey-night;
  &--centered {
    text-align: center;
  }
}

.jpix-h4 {
  font-size: rem(12px);
  font-weight: bold;
  text-transform: uppercase;

  &--normal {
    font-weight: normal;
  }

  &--active {
    font-weight: normal;
    color: $jpix-orange-accent;
  }
}
