  /* stylelint-disable */
  $base-width: rem(500px);

.ui-float-label{
  width:$base-width;
  margin:auto;
  label {
   color:#4ba9d5;
   font-weight:200;
  }  
  .evo-input {
    border:0;
    border-bottom:1px solid #4ba9d5;
    border-radius:0;
    box-shadow:none;
    background: transparent;
    color:#4ba9d5;
  }
}
