.evo-input {
  border: 1px solid #e5e5e5;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  padding: 30px 50px 10px 15px;
  // min-width: 360px;
  width: 100%;
  background-color: #fff;
  &.textarea {
    textarea {
      border: 0;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.1rem;
      color: #9b9b9b;
      box-shadow: none;
      padding: 0;
      padding-left: 10px;
    }
  }
  &.error {
    border-color: red;
  }
  &.check {
    &:after {
      content: '\F00C';
      position: absolute;
      font-family: 'FontAwesome';
      right: 10px;
      top: 13px;
      width: 35px;
      display: flex;
      height: 35px;
      background-color: #59d389;
      border-radius: 100%;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      color: #fff;
    }
  }
  &>input {
    padding-left: 10px !important;
    font-size: 1.1rem;
  }
  &>input,
  &>p-inputmask,
  &>p-calendar {
    box-shadow: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    color: #9b9b9b;
    border-radius: 0;
    border: 0;
    padding: 0;
    height: 20px;
    position: relative;
    input,
    &>span {
      font-family: 'Ubuntu', sans-serif;
      display: block;
      color: #9b9b9b;
      width: 100%;
      border: 0;
      left: 0;
      padding: 6px 12px;
      position: absolute;
      height: 100%;
      margin: 0;
      top: 0;
      &:focus {
        box-shadow: none;
      }
    }
  }
  label {
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    color: #000;
    position: absolute;
    top: 8px;
    left: 25px;
    margin-bottom: 0;
    span {
      font-size: 1rem;
      color: red;
    }
  }
}
