$button-size:70px;
$parabola-margin: 34px;
$parabola-margin-top: -23px;
.navigation_bar {
  height: 120px;
  background-color: $evo-grey-background;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &-item {
    outline: 0;
    position: relative;
    z-index: 0;
    &.active {
      .navigation_bar-item-button {
        background: #fff !important;
        &:before {
          content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='M0,0 L110,0 C-15,10 78,80 0,89z' fill='#fff'></path></svg>");
          width: 85px;
          height: 85px;
          position: absolute;
          display: block;
          top: $parabola-margin-top;
          right: $parabola-margin;
          margin: auto;
          transform: rotateY(180deg);
          z-index: 70;
        }
        &:after {
          content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100' preserveAspectRatio='none'><path d='M0,0 L110,0 C-15,10 78,80 0,89z' fill='#fff'></path></svg>");
          width: 85px;
          height: 85px;
          position: absolute;
          display: block;
          top: $parabola-margin-top;
          left: $parabola-margin;
          margin: auto;
          z-index: 70;
        }
      }
    }
    padding: 20px 10px;
    &-button {
      position: relative;
      box-shadow: 0 15px 30px -3px rgba(173, 173, 173, 0.28);
      position: relative;
      z-index: 50;
      width: $button-size;
      height: $button-size;
      background: $evo-grey-background-button;
      display: flex;
      margin: auto;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      i {
        z-index: 200;
        font-size: 20px;
        color: $evo-title-text;
      }
    }
    &-title {
      color: $evo-grey-background-text;
    }
  }
}
