.navigation{
  &__auth{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 115px;
    padding: 30px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    max-width: 350px;
    text-align: center;
    &__link{
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Ubuntu', sans-serif;
      cursor: pointer;
    }
  }
}
