.page-title{
    width:100%;
    height: 425px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 80px;
    &-auth{
        background-image: url('~assets/images/page-title/auth.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__text{
        font-size: 72px;
        color: #fff;
        font-family: 'Playfair Display';
        font-weight: 600;
    }
}