$border: 1px solid $jpix-grey;
$padding: 26px;

.jpix-panel {
  border: $border;

  &--center {
    text-align: center;
  }

  &__header {
    border-bottom: $border;
    padding: rem($padding);

    h2 {
      margin: 0;
    }
  }

  &__body {
    padding: rem($padding);
  }

  &__text {
    padding: 0 30px;
    margin-bottom: rem(30px);
    color: $jpix-grey-night;
    font-size: rem(16px);

    &--warning {
      background: $jpix-orange-accent;
      color: $jpix-white;
      font-weight: 300;
      letter-spacing: .03rem;
      border-radius: 3px;
      padding: rem(10px) rem(30px);
      border: 1px solid $jpix-grey-light;
    }
  }

  &__actions {
    margin-top: rem(6px);
    padding: rem($padding) 0;

    .jpix-button:not(:last-child) {
      margin-bottom: rem(30px);
    }
  }
}