      .jpix-radio {
        display: none;

        &+label {
          display: flex;
          align-items: center;
          cursor: pointer;

          span {
            display: inline-block;
            border: 1px solid $jpix-grey;
            border-radius: 50%;
            background: none;
            cursor: pointer;
            margin-right: 12px;
          }
        }

        &--primary {
          &+label span {
            width: 30px;
            height: 30px;
          }

          &:checked+label {
            span {
              background-color: $jpix-orange-accent;
              background-image: url(check-white.png);
              background-position: 50% 50%;
              background-size: 20px;
              background-repeat: no-repeat;
              border-color: transparent;
            }
          }

          &:disabled+label,
          &.disabled+label {
            color: $jpix-grey;
            pointer-events: none;

            span {
              cursor: not-allowed;
              border-color: $jpix-grey-light;
            }
          }
        }

        &--default {
          &+label span {
            width: 20px;
            height: 20px;
          }

          &:checked+label {
            span {
              background-color: $jpix-orange-accent;
              border: 4px solid $jpix-white;
              box-shadow: 0 0 0 1px $jpix-grey;
            }
          }
        }
      }