.ui-datatable {
  table {
    border-color: #d9d9d9;
  }
  .ui-datatable-thead>tr>th{
      color: #4daed4;
      text-transform: uppercase;
      font-size: 12px;
  }
  .ui-datatable-thead>tr>th,
  .ui-datatable-tfoot>tr>td,
  .ui-datatable-data>tr>td {
    border-top: 0;
  }
}
