.jpix-tile {
  padding: 2rem 0;
  display: block;
  text-align: center;
  font-size: rem(14px);
  text-transform: uppercase;
  font-weight: 600;
  color: $jpix-orange-accent;
  border: 1px solid $jpix-grey-ultralight;
  box-shadow: 0px 1px 3px $jpix-grey-light;
  cursor: pointer;
  transition: all .05s ease-in-out;

  &:hover {
    background: $jpix-orange-accent;
    color: $jpix-white;
    border-color: $jpix-orange-accent;
    text-decoration: none;
  }
}