<div class="evo-blank-list-message">
    <div class="evo-blank-list-message__content">
        <p class="evo-blank-list-message__message evo-font-sm ">
            <span *ngIf="!eventIsNotActive">Click <a title="Find your student?"
               class="evo-link"
               routerLink="/find-student">here</a>, to find your student and begin personalizing your photos.</span>
            <span *ngIf="eventIsNotActive">This event is not active yet. Pre-ordering can begin {{effectiveStartDate}}.</span></p>
        <img class="evo-blank-list-message__img"
             alt="Smile"
             src="./assets/img/smile.png" />
    </div>
</div>