.jpix-footer-navigation {
  color: $jpix-white;
  font-size: $jpix-font-size-s;
  white-space: nowrap;

  .jpix-footer-navigation-col {
    margin-left: 3rem;
    display: inline-block;

    h4 {
        margin-top: 0;
        margin-bottom: rem(12px);
    }

    a {
      color: $jpix-white;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: rem(26px);
      line-height: 2;
    }
  }
}

@media (max-width: 480px) {
  .jpix-footer-navigation {
    font-size: $jpix-font-size-xs;

    .jpix-footer-navigation-col{
      margin-left: 0.75rem;

      h4 {
        font-size: $jpix-font-size-xs;
      }
    }
  }
}
