<div class="jpix-preview">
    <div class="row">
        <div class="jpix-preview-content">
            <div class="jpix-panel-mobile-actions">
                <div class="col-xs-12 text-center jpix-panel__actions-mobile">
                    <button *ngIf="isShowPersonalizeButton()"
                        class="jpix-button jpix-button--small"
                        [ngClass]="{ 'jpix-button--default disabled': isPersonalizeDisabled(), 'jpix-button--warning': !isPersonalizeDisabled() }"
                        [disabled]="isPersonalizeDisabled()"
                        (click)="navigateToPersonalize()">Personalize photos</button>

                    <button *ngIf="isShowOrderPrintsButton()"
                    class="jpix-button jpix-button--small"
                        [ngClass]="{ 'jpix-button--default disabled': isOrderPrintsDisabled(), 'jpix-button--warning': !isOrderPrintsDisabled() }"
                        [disabled]="isOrderPrintsDisabled()"
                        (click)="onOrderPrintsClick()">Order prints</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7">

                <div class="hidden-xs">
                    <jpix-preview-filters [eventOptions]="eventOptions"
                                        [studentOptions]="studentOptions"
                                        [filterKeys]="filterKeys"
                                        [selectedFiltersValues]="selectedFiltersValues"
                                        [disabled]="loading || isGuestMode || showBlankMessage"
                                        (change)="filterPhotos($event)"></jpix-preview-filters>
                </div>

                <jpix-loader *ngIf="loading"></jpix-loader>

                <jpix-blank-list-message *ngIf="showBlankMessage"
                                        [effectiveStartDate]="effectiveStartDate"></jpix-blank-list-message>

                <div class="jpix-preview__list-container"
                    *ngIf="!loading && !showBlankMessage">
                    <div class="jpix-preview__list"
                        *ngFor="let event of groupedByEventsPhotos">
                        <div class="jpix-preview__list-wrapper"
                            *ngIf="event.photos.length">
                            <h3 class="jpix-preview__list-title">{{event.title}}</h3>
                            <jpix-preview-list [items]="event.photos"
                                            [selectedId]="selectedPhotoCardId"></jpix-preview-list>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="jpix-preview__panel jpix-panel jpix-panel--center">
                    <div class="jpix-panel__header">
                        <h2 class="jpix-h2">Your photos</h2>
                    </div>
                    <div class="jpix-panel__body">
                        <p class="jpix-panel__text">
                            Select your favorite photo, personalize, order prints and pay.
                        </p>
                        <p *ngIf="freeDigitalDownloadOrderThreshold && !isGuestMode"
                        class="jpix-panel__text jpix-panel__text--warning">
                            Order ${{freeDigitalDownloadOrderThreshold}} or more and receive free hi-res digital downloads of your portraits.
                        </p>

                        <a class="jpix-panel__events-link jpix-h3"
                            [ngClass]="{'hidden': mobileShowEvents || isVenuesEmpty}"
                            (click)="mobileShowEvents = true">
                            <span>
                                Show Upcoming Events
                            </span>
                        </a>
                        <jpix-venues 
                            [ngClass]="{'active': mobileShowEvents}"
                            [venuesMap]="venues"></jpix-venues>

                        <div class="jpix-panel__actions">
                            <button *ngIf="isShowPersonalizeButton()"
                                    [ngClass]="{ 'jpix-button': true, 'jpix-button--default disabled': isPersonalizeDisabled(), 'jpix-button--warning': !isPersonalizeDisabled() }"
                                    [disabled]="isPersonalizeDisabled()"
                                    (click)="navigateToPersonalize()">Personalize photos</button>

                            <button *ngIf="isShowOrderPrintsButton()"
                                    [ngClass]="{ 'jpix-button': true, 'jpix-button--default disabled': isOrderPrintsDisabled(), 'jpix-button--warning': !isOrderPrintsDisabled() }"
                                    [disabled]="isOrderPrintsDisabled()"
                                    (click)="onOrderPrintsClick()">Order prints</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>