<div class="container">
  <form *ngIf="loggedUser.role == 'user'" autocomplete="off" class="evo-form evo-form-profile" novalidate [formGroup]="userInfoForm"
    (ngSubmit)="updateUser()">
    <div class="row">
      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <input pInputText id="name" formControlName="name" class="form-control" type="text">
          <label for="name">Ваше ім'я</label>
        </div>
        <validation-messages [control]="userInfoForm.controls.name"></validation-messages>
      </div>
      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <input pInputText id="email" formControlName="email" class="form-control" type="text">
          <label for="email">Ваш e-mail</label>
        </div>
        <validation-messages [control]="userInfoForm.controls.email"></validation-messages>
      </div>

      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <google-places [type]="'(cities)'" [defaultAddress]="this.userInfoForm.controls.address.controls" [label]="{en:'city', ua:'Звідки ви?'}"
          (locationData)="getAddress($event, 'address')"></google-places>
      </div>

      <!-- <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <p-inputMask mask="+380-99-9999-999" pInputText id="phone" formControlName="phone" class="form-control"></p-inputMask>
          <label for="phone">Ваш телефон</label>
        </div>
        <validation-messages [control]="userInfoForm.controls.phone"></validation-messages>
      </div> -->


      <ng-container formGroupName="car_attributes">
        <div class="form-group col-md-4 col-xs-12 col-sm-4">
          <div class="evo-dropdown">
            <p-dropdown [options]="transportCategories" formControlName="category" (onChange)="setCategory($event)" optionLabel="name"></p-dropdown>
            <label>Тип транспортного засобу</label>
            <div class="evo-dropdown__trigger">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4">
          <div class="evo-dropdown">
            <p-dropdown [disabled]="!userInfoForm.controls.car_attributes.controls.category.value" [options]="brand" [filter]="true"
              filterBy="label" formControlName="brand" (onChange)="carChanged($event)" optionLabel="name"></p-dropdown>
            <label>Марка вашого авто</label>
            <div class="evo-dropdown__trigger">
              <i class="fa fa-chevron-down"></i>
            </div>

          </div>
        </div>

        <div class="form-group col-md-4 col-xs-12 col-sm-4">
          <div class="evo-dropdown">
            <p-dropdown [disabled]="!userInfoForm.controls.car_attributes.controls.brand.value" [options]="models" [filter]="true" filterBy="label"
              formControlName="model" optionLabel="name"></p-dropdown>
            <label>Модель вашого авто</label>
            <div class="evo-dropdown__trigger">
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <button class="evo-button evo-button-green" [disabled]="!userInfoForm.dirty" type="submit">Зберегти</button>

  </form>


  <!-- ___________________________________DRIVER________________________ -->

  <form *ngIf="loggedUser.role == 'driver'" autocomplete="off" class="evo-form evo-form-profile" novalidate [formGroup]="userInfoForm" (ngSubmit)="updateUser()">
    <div class="row">
      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <input pInputText id="name" formControlName="name" class="form-control" type="text">
          <label for="name">ФІО</label>
        </div>
        <validation-messages [control]="userInfoForm.controls.name"></validation-messages>
      </div>

      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <p-inputMask mask="+380-99-9999-999" pInputText id="phone" formControlName="phone" class="form-control"></p-inputMask>
          <label for="phone">Телефон</label>
        </div>
        <validation-messages [control]="userInfoForm.controls.phone"></validation-messages>
      </div>
      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class="evo-input">
          <p-inputMask mask="99.99.99" placeholder="Вкажіть дату вашого народження" pInputText id="birthday" formControlName="birthday"
            class="form-control"></p-inputMask>
          <label for="birthday">Дата народження(ЧЧ.ММ.РР)</label>
        </div>
      </div>
      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <input pInputText id="passport" formControlName="passport" class="form-control" type="text">
          <label for="passport">Серія та номер паспорту</label>
        </div>
      </div>

      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <div class=" evo-input">
          <input pInputText id="email" formControlName="email" class="form-control" type="text">
          <label for="email">Email</label>
        </div>
        <validation-messages [control]="userInfoForm.controls.email"></validation-messages>
      </div>


      <div class="form-group col-md-4 col-xs-12 col-sm-4">
        <google-places [type]="'address'" [defaultAddress]="this.userInfoForm.controls.address.controls" [label]="{en:'city', ua:'Адреса'}"
          (locationData)="getAddress($event, 'address')"></google-places>
      </div>


      <button class="evo-button evo-button-green" [disabled]="!userInfoForm.dirty" type="submit">Зберегти</button>
    </div>
  </form>

  <!-- ______________________________________COMPANY______________________________- -->
  <form *ngIf="loggedUser.role == 'company'" autocomplete="off" class="evo-form evo-form-profile" novalidate [formGroup]="userInfoForm" (ngSubmit)="updateUser()">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group col-md-4 col-xs-12 col-sm-4 ">
          <div class=" evo-input">
            <input pInputText id="title" formControlName="title" class="form-control" type="text">
            <label for="title">Назва компанії</label>
          </div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4">
          <p-dropdown class="dropdown__blue" [options]="ownershipTypes" formControlName="ownership"></p-dropdown>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4" *ngIf="userInfoForm.get('ownership').value === 'OTHER'">
          <div class=" evo-input">
            <input pInputText id="other_ownership" formControlName="other_ownership" class="form-control" type="text">
            <label for="other_ownership">Інша форма реєстрації</label>
          </div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4" *ngIf="userInfoForm.get('ownership').value === 'FOP'">
          <div class=" evo-input">
            <p-inputMask pInputText mask="9999999999" id="id_code" formControlName="id_code" class="form-control"></p-inputMask>
            <label for="id_code">Ідентифікаційний код</label>
          </div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4" *ngIf="userInfoForm.get('ownership').value !== 'FOP'">
          <div class=" evo-input">
            <p-inputMask pInputText mask="99999999" id="zkpo" formControlName="zkpo" class="form-control"></p-inputMask>
            <label for="zkpo">Код ЗКПО</label>
          </div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4">
          <p-dropdown class="dropdown__blue" [options]="taxFormTypes" formControlName="tax_form"></p-dropdown>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4" formGroupName="official_address" *ngIf="userInfoForm.get('ownership').value !== 'FOP'">
          <google-places [type]="'address'" [defaultAddress]="this.userInfoForm.controls.official_address.controls" [label]="{en:'official_address', ua:'Юридична адреса'}"
            (locationData)="getAddress($event, 'official_address')"></google-places>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4" formGroupName="physical_address">
          <google-places [type]="'address'" [defaultAddress]="this.userInfoForm.controls.physical_address.controls" [label]="{en:'physical_address', ua:'Фізична адреса'}"
            (locationData)="getAddress($event, 'physical_address')"></google-places>
        </div>
        <div formGroupName="director">
          <div class="form-group col-md-4 col-xs-12 col-sm-4">
            <div class=" evo-input">
              <input pInputText id="director_name" formControlName="name" class="form-control" type="text">
              <label for="director_name">ФІО директора</label>
            </div>
          </div>
          <div class="form-group col-md-4 col-xs-12 col-sm-4">
            <div class=" evo-input">
              <p-inputMask mask="+380-99-9999-999" pInputText id="director_phone" formControlName="phone" class="form-control"></p-inputMask>
              <label for="director_phone">Телефон директора</label>
            </div>
          </div>
        </div>
        <div formGroupName="liable" *ngIf="userInfoForm.get('ownership').value !== 'FOP'">
          <div class="form-group col-md-4 col-xs-12 col-sm-4">
            <div class=" evo-input">
              <input pInputText id="liable_name" formControlName="name" class="form-control" type="text">
              <label for="liable_name">ФІО відповідальної особи</label>
            </div>
          </div>
          <div class="form-group col-md-4 col-xs-12 col-sm-4">
            <div class=" evo-input">
              <p-inputMask mask="+380-99-9999-999" pInputText id="liable_phone" formControlName="phone" class="form-control"></p-inputMask>
              <label for="liable_phone">Телефон відповідальної особи</label>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4 col-xs-12 col-sm-4">
          <div class=" evo-input">
            <input pInputText id="static_phone" formControlName="static_phone" class="form-control" type="text">
            <label for="static_phone">Стаціонарний телефон</label>
          </div>
        </div>

        <button class="evo-button evo-button-green" [disabled]="!userInfoForm.dirty" type="submit">Зберегти</button>

      </div>
    </div>

  </form>
</div>
<div class="clearfix"></div>
