<div class="col-md-4">
<form autocomplete="off" class="updateForm small" novalidate [formGroup]="userInfoForm" (ngSubmit)="updateUser()">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <span class="ui-float-label blue">
            <input pInputText id="name" formControlName="name" class="form-control evo-input" type="text">
            <label for="name">Ім'я</label>
          </span>
          <validation-messages [control]="userInfoForm.controls.name"></validation-messages>
        </div>

        <div class="form-group">
          <span class="ui-float-label blue">
            <p-inputMask mask="+380-99-9999-999" pInputText id="phone" formControlName="phone" class="form-control evo-input"></p-inputMask>
            <label for="phone">Телефон</label>
          </span>
          <validation-messages [control]="userInfoForm.controls.phone"></validation-messages>
        </div>

        <div class="form-group">
          <span class="ui-float-label blue">
            <input pInputText id="email" formControlName="email" class="form-control evo-input" type="text">
            <label for="email">Email</label>
          </span>
          <validation-messages [control]="userInfoForm.controls.email"></validation-messages>
        </div>
        <div formGroupName="car_attributes">
          <div class="form-group choosenCategory">
            <div *ngFor="let transport of transportCategories">
              <div *ngIf="transport.value == userInfoForm.controls.car_attributes.controls.category.value" (click)="showTransportDialog()">
                <div class="transport type__{{transport.value}}" name="transportCategorie"></div>
                <span>{{transport.name}}</span>
              </div>
            </div>
            <validation-messages [control]="userInfoForm.controls.car_attributes.controls.category"></validation-messages>
          </div>

          <div class="form-group">
            <p-dropdown class="dropdown__blue" [options]="brand" [filter]="true" filterBy="label" formControlName="brand" (onChange)="carChanged($event)"
              optionLabel="name"></p-dropdown>
            <validation-messages [control]="userInfoForm.controls.car_attributes.controls.brand"></validation-messages>
          </div>

          <div class="form-group">
            <p-dropdown class="dropdown__blue" [options]="models" [filter]="true" filterBy="label" formControlName="model" optionLabel="name"></p-dropdown>
            <validation-messages [control]="userInfoForm.controls.car_attributes.controls.model"></validation-messages>
          </div>

          <p-dialog class="updateForm__dialog" header="Title" [(visible)]="transportDialog" [width]="500" [baseZIndex]="9999">
            <div class="updateForm__dialog--content">
              <div *ngFor="let transport of transportCategories" class="updateForm--transport-item">
                <p-radioButton class="transport type__{{transport.value}}" (click)="categoryChange(transport.value)" name="transportCategorie"
                  value="{{transport.value}}" formControlName="category"></p-radioButton>
                <span>{{transport.name}}</span>
              </div>
              <validation-messages [control]="userInfoForm.controls.car_attributes.controls.category"></validation-messages>
            </div>

          </p-dialog>
        </div>

        <div class="form-group text-center">
          <button *ngIf="userInfoForm.touched" class="evo-button" type="submit">Зберегти</button>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="clearfix"></div>