.jpix-cart-icon {
  cursor: pointer;
  outline: none;

  &__link {
    display: inline-block;
    position: relative;
    top: .3rem;
    margin-right: 4px;
    width: rem(20px);
    height: rem(15px);
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(./assets/img/cart-icon.png);
  }

  &__count {
    color: $jpix-white;
    font-size: rem(12px);
  }
}