<div class="jpix-reset-password">
    <div class="jpix-h2 text-uppercase">Create Your New Password</div>
    <div class="jpix-auth__description">
        You will use this password to access your account.
        Please create your new password and sign in.
        <br/><br/>
        <b>Email:</b>
        <br/>
        {{queryParams.email}}
    </div>
    <form class="jpix-reset-password__form jpix-form"
          novalidate
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onSubmit()">
               <jpix-error-message *ngFor="let errorMessage of errorMessages"
                            [shown]="errorMessage"
                            [message]="errorMessage.text"></jpix-error-message>
  
        <div class="form-group">
            <input formControlName="password"
                   class="form-control jpix-input jpix-input--large"
                   type="password"
                   placeholder="password">
        </div>
        <jpix-error-message [shown]="resetPasswordForm.get('password').hasError('required') && formSubmitted"
                            message="password is required."></jpix-error-message>
        <div class="form-group">
            <input formControlName="passwordConfirm"
                   class="form-control jpix-input jpix-input--large"
                   type="password"
                   placeholder="confirm password">
        </div>
        <jpix-error-message [shown]="resetPasswordForm.get('passwordConfirm').hasError('passwordMatchError') && formSubmitted"
                            message="password mismatch."></jpix-error-message>
        <div class="form-group">
            <button class="form-control jpix-button jpix-button--warning"
                    [disabled]="disableButton ? true : null"
                    type="submit">Continue</button>
        </div>
    </form>
    <div>
        <a class="jpix-link jpix-link--warning"
           title="Sign in"
           routerLink="/login">Sign in</a>
    </div>
</div>