.jpix-preview-filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: rem(24px);
  &__group {
    label {
      text-transform: uppercase;
      font-size: rem(14px);
      margin-right: 7px; 
    }
  }
  .jpix-preview-filters-event {
    margin-right: 30px;
  }
}