@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "functions";

//colors
$evo-yellow : #fed803;
$evo-grey: #c8c8c8;
$evo-button: #6c6750;
$evo-grey-background:#eee;
$evo-grey-background-button:#dedede;
$evo-grey-background-text:#999;
$evo-error:red;
$evo-white: #ffffff;
$evo-title-text: #555555;
$evo-text: #676767;
$evo-separator: #e3e3e3;


//fonts
$body-font-base: 16;
$primary-font-family: 'Open Sans', Arial, sans-serif;

$currency-symbol: '$';

$evo-table-header: #6b9cc6;
$evo-table-head: #9bbdcc;
$evo-table-body: #b2ccd7;

$evo-font-size-xs: rem(10px);
$evo-font-size-s: rem(12px);
$evo-font-size-sm: rem(14px);
$evo-font-size-m: rem(16px);

$evo-photo-item-side-margin: 1.875rem;

$evo-photo-item-width-xs: 5.375rem;
$evo-photo-item-height-xs: 7.875rem;

$evo-photo-item-width-xs--landscape: $evo-photo-item-width-xs * 2 + $evo-photo-item-side-margin;

$evo-photo-item-width-md: 8.25rem;
$evo-photo-item-height-md: 12rem;

$evo-photo-item-width-md--landscape:  $evo-photo-item-width-md * 2 + $evo-photo-item-side-margin;

$evo-mobile-nav-width: 250px;

//screens
$evo-screen-m-max: 991px;
$evo-screen-m-min: 539px;
$evo-screen-s-max: 479px;
$evo-screen-ultra-sm-max: 359px;
$evo-screen-ultra-sm-min: 320px;
