<div class="jpix-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <div class="jpix-footer__content">
                        <div>
                            <div class="jpix-footer__logo"></div>
                            <div class="jpix-footer__label">© Jostens 2017</div>
                        </div>
                        <div>
                            <jpix-footer-nav></jpix-footer-nav>
                        </div>
                        <div [hidden]="hideOrdersLink || !isLogged" 
                            class="jpix-footer-navigation-my-orders hidden-xs">
                            <h4 class="jpix-h4 text-uppercase">
                                <a 
                                    routerLink="/order-by-account"
                                    title="My Orders">My Orders</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>