<div class="evo-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <div class="evo-footer__content">
                        <div>
                            <div class="evo-footer__logo"></div>
                            <div class="evo-footer__label">EVO</div>
                        </div>
                        <div [hidden]="hideOrdersLink || !isLogged" 
                            class="evo-footer-navigation-my-orders hidden-xs">
                            <h4 class="evo-h4 text-uppercase">
                                <a 
                                    routerLink="/order-by-account"
                                    title="My Orders">Test content</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>