<div class="evo-footer">
  <div class="container">
    <div class="col-md-4 evo-footer__links">
      <h1 class="evo-footer__title">Посилання</h1>
      <div class="col-md-6">
        <a>Як ми працюємо</a>
        <a>Новини</a>
        <a>Співпраця</a>
      </div>
      <div class="col-md-6">
        <a>Оферета</a>
        <a>Блог</a>
        <a>Підписка</a>
      </div>
    </div>
    <div class="col-md-3 evo-footer__contacts">
      <h1 class="evo-footer__title">Контакти</h1>
      <div class="evo-footer__contacts__phone">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          width="20px" height="20px" viewBox="0 0 35 35" style="enable-background:new 0 0 35 35;" xml:space="preserve">
          <g>
            <path d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604   c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287   c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818   c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625   H8.979V3.749h17.042V30.625z"
              fill="#84b1ed" />
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
        <div>
          <a>+38 (067) 333-55-66</a>
          <a>+38 (050) 333-55-66</a>
        </div>
      </div>
      <div class="evo-footer__contacts__email">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
          viewBox="0 0 31.012 31.012" style="enable-background:new 0 0 31.012 31.012;" xml:space="preserve" width="20px" height="20px">
          <g>
            <path d="M28.512,26.529H2.5c-1.378,0-2.5-1.121-2.5-2.5V6.982c0-1.379,1.122-2.5,2.5-2.5h26.012c1.378,0,2.5,1.121,2.5,2.5v17.047   C31.012,25.408,29.89,26.529,28.512,26.529z M2.5,5.482c-0.827,0-1.5,0.673-1.5,1.5v17.047c0,0.827,0.673,1.5,1.5,1.5h26.012   c0.827,0,1.5-0.673,1.5-1.5V6.982c0-0.827-0.673-1.5-1.5-1.5H2.5z"
              fill="#84b1ed" />
            <path d="M15.506,18.018c-0.665,0-1.33-0.221-1.836-0.662L0.891,6.219c-0.208-0.182-0.23-0.497-0.048-0.705   c0.182-0.21,0.498-0.23,0.706-0.049l12.778,11.137c0.64,0.557,1.72,0.556,2.358,0L29.46,5.466c0.207-0.183,0.522-0.162,0.706,0.049   c0.182,0.208,0.16,0.523-0.048,0.705L17.342,17.355C16.836,17.797,16.171,18.018,15.506,18.018z"
              fill="#84b1ed" />
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
        <a>info@carswork.com</a>
      </div>
    </div>
    <div class="col-md-2 evo-footer__messangers">
      <h1 class="evo-footer__title">Месенджери</h1>
      <div class="flex-row left">
        <div class="evo-footer__messangers__item">
          <img src="./assets/viber.png" alt="">
        </div>
        <div class="evo-footer__messangers__item">
          <img src="./assets/whats.png" alt="">
        </div>
        <div class="evo-footer__messangers__item">
          <img src="./assets/tel.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-3 evo-footer__social">
      <h1 class="evo-footer__title">Соцмережі</h1>
      <div class="flex-row left">
        <div class="evo-footer__social__item">
          <img src="./assets/fb.png" alt="">
        </div>
        <div class="evo-footer__social__item">
          <img src="./assets/inst.png" alt="">
        </div>
        <div class="evo-footer__social__item">
          <img src="./assets/tweet.png" alt="">
        </div>
        <div class="evo-footer__social__item">
          <img src="./assets/youtube.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center evo-footer__copyright">
      <span>© CarsWork 2018 Copyright</span>
    </div>
  </div>
</div>
