<div class="evo-preview-list-item"
     *ngIf="item"
[ngClass]="{ 'evo-preview-list-item--landscape': isComposite }"
     (click)="onSelect($event, item)">

    <div class="evo-preview-list-item__yearbook-label"
         *ngIf="isYearbookPhoto">Yearbook</div>

    <evo-photo-checker [photo]="item"
                        [isComposite]="isComposite"
                        (check)="setLoading(false)">
        <ng-template>
            <div class="evo-preview-list-item__photo"
                 evoImageLoader
                 [imgSrc]="item.url"
                 imgClassName="evo-preview-list-item__image"
                 [imgAlt]="item.studentName"
                 (load)="setLoading(false)">
            </div>

            <evo-photo-zoom [src]="getImageLinkForZoom(item.url)"></evo-photo-zoom>
        </ng-template>
    </evo-photo-checker>

    <div *ngIf="!loading"
         [ngClass]="{ 'evo-check': true, 'active': isSelected(item) }"></div>

</div>