  .evo-preview-list-item {
    position: relative;
    user-select: none;
    cursor: pointer;
    width: $evo-photo-item-width-xs;
    height: $evo-photo-item-height-xs;

    &__photo {
      width: $evo-photo-item-width-xs;
      height: $evo-photo-item-height-xs;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__yearbook-label {
      position: absolute;
      background: rgba(0, 10, 62, 0.7);
      color: white;
      font-size: rem(12px);
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      padding-right: 5px;
      padding-left: 3px;
      top: rem(9px);
    }

    &--landscape {
      width: $evo-photo-item-width-xs--landscape;

      .evo-preview-list-item__photo {
        width: $evo-photo-item-width-xs--landscape;
      }

      .evo-check {
        bottom: 0.9rem;
        right: 5.75rem;
      }
    }
    .evo-photo-placeholder--composite {
      background-position: 50% 65%;
    }

  }

  @media (min-width: $screen-md-min) {
    .evo-preview-list-item {
      width: $evo-photo-item-width-md;
      height: $evo-photo-item-height-md;

      &__photo {
        width: $evo-photo-item-width-md;
        height: $evo-photo-item-height-md;
      }

      &--landscape {
        width: $evo-photo-item-width-md--landscape;

        .evo-preview-list-item__photo {
          width: $evo-photo-item-width-md--landscape;
        }

        .evo-check {
          right: 8.5rem;
        }
      }
    }
  }