<nav class="jpix-nav clearfix">
    <ul>
        <ng-container *ngFor="let item of items; trackBy:trackItem">
            <li *ngIf="!item.hidden || item.shown">
                <a [routerLink]="item.disabled ? null : item.link"
                   routerLinkActive="{{item.disabled ? '' : 'active'}}"
                   attr.title="{{item.title}}"
                   [class.disabled]="item.disabled"
                   [attr.disabled]="item.disabled ? 'disabled' : null">{{item.title}}</a>
            </li>
        </ng-container>
    </ul>
</nav>