.evo-find-student {
  .evo-find-student-message {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .evo-table {
    font-size: $evo-font-size-sm;
  }
  .evo-table-th-1,
  .evo-table-td-1,
  .evo-table-th-2,
  .evo-table-td-2 {
    text-align: center;
  }

  .evo-dropdown .dropdown-item {
    white-space: normal;
  }
}