<p-tabView>
  <p-tabPanel header="Мій профіль" [selected]="true">
    <evo-profile-info></evo-profile-info>
  </p-tabPanel>
  <p-tabPanel header="Мої замовлення">
    <evo-profile-orders></evo-profile-orders>
  </p-tabPanel>
  <p-tabPanel header="Мої Водії" *ngIf="loggedUser.role == 'company'">
    <evo-profile-drivers></evo-profile-drivers>
  </p-tabPanel>
  <p-tabPanel header="Мої евакуатори" *ngIf="loggedUser.role !== 'user' ">
    <evo-profile-trucks></evo-profile-trucks>
  </p-tabPanel>
</p-tabView>

<div class="navigation_bar row">
    <div [routerLinkActive]="['active']" [routerLink]="['/auth/register']" class="navigation_bar-item text-center">
      <div class="navigation_bar-item-button">
        <i class="fa fa-user-o"></i>
      </div>
      <div class="navigation_bar-item-title">
        Профіль
      </div>
    </div>

    <div [routerLinkActive]="['active']" [routerLink]="['/auth/register']" class="navigation_bar-item text-center">
      <div class="navigation_bar-item-button">
        <i class="fa fa-user-o"></i>
      </div>
      <div class="navigation_bar-item-title">
        Замовлення
      </div>
    </div>

    <div [routerLinkActive]="['active']" [routerLink]="['/auth/register']" class="navigation_bar-item text-center" *ngIf="loggedUser.role == 'company'">
      <div class="navigation_bar-item-button">
        <i class="fa fa-user-o"></i>
      </div>
      <div class="navigation_bar-item-title">
        Водії
      </div>
    </div>

    <div [routerLinkActive]="['active']" [routerLink]="['/auth/register']" class="navigation_bar-item text-center" *ngIf="loggedUser.role !== 'user' ">
      <div class="navigation_bar-item-button">
        <i class="fa fa-user-o"></i>
      </div>
      <div class="navigation_bar-item-title">
        Евакуатори
      </div>
    </div>

  </div>
