<div class="evo-home evo-mobile-nav-wrapper"
     [ngClass]="{ 'evo-mobile-nav-wrapper--open': showMobileNav }">
    <evo-mobile-nav [hasSearchLink]="hasSearchLink"
                     [isLogged]="isLogged"
                     (hideMobileNav)="hideMobileNav()"></evo-mobile-nav>

    <header>
        <evo-header [hasSearchLink]="hasSearchLink"
                     [isLogged]="isLogged"
                     (toggleMobileNav)="onToggleMobileNav()"></evo-header>
    </header>
    <div class="evo-home-content evo-home-mobile-content">
        <main (click)="hideMobileNav()">
            <div class="container">
                <section class="evo-home__container">
                    <router-outlet></router-outlet>
                </section>
            </div>
        </main>
        <footer (click)="hideMobileNav()">
            <evo-footer [isLogged]="isLogged"></evo-footer>
        </footer>
    </div>
    
</div>