$padding-top: rem(33px);
$padding-bottom: rem(30px);

.jpix-home {
  &__container {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
  }

  .jpix-mobile-content {
    overflow-y: initial;
  }

  &.jpix-mobile-nav-wrapper {
    position: relative;
    right: 0;
    transition: right 250ms linear;

    &--open {
      right: -#{$jpix-mobile-nav-width};
    }
  }
  // JPIX-849 - revert
  /*.jpix-home-content {
    @include calc(min-height, '100vh - 65px');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }*/
}

@media (min-width: $screen-sm-min) {
  .jpix-home {
    &.jpix-mobile-nav-wrapper {
      &--open {
        right: 0;
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .jpix-home {
    &__container {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &.jpix-mobile-nav-wrapper {
      position: fixed;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    .jpix-home-mobile-content {
      overflow-y: auto;
      flex: 1;
    }
  }
}