<div class="container trucks ">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 trucks__side text-center">
      <p-selectButton class="trucks__side__switchers" [(ngModel)]="selectedType" [options]="types"></p-selectButton>
      <form [formGroup]="searchForm">
        <div class="form-group">
          <span class="ui-float-label">
            <google-places style="width: 100%" [type]="'address'" [label]="{en:'where', ua:'Де ви?'}" (locationData)="getAddress($event, 'where')"
              (focus)="focusedInputClass = $event" [defaultAddress]="searchForm.controls.where.controls"></google-places>
          </span>
        </div>
        <div class="form-group">
          <div class="trucks__side__dropdown">
            <p-dropdown [options]="weightTypes" formControlName="weight_limit"></p-dropdown>
            <label for="">Тонаж (грузопідйомність)</label>
          </div>
        </div>
        <div class="form-group">
          <p class="text-left">{{searchForm.controls.price.value[0]}}грн - {{searchForm.controls.price.value[1]}}грн</p>
          <p-slider formControlName="price" [range]="true" [min]="0" [step]="10" [max]="100"></p-slider>
        </div>
        <div class="form-group">
          <div class="trucks__side__dropdown">
            <p-dropdown [options]="sortTypes" formControlName="sort"></p-dropdown>
            <label for="">Сортування</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <ng-container *ngIf="loading">
        <div id="loading-bar-spinner" class="spinner">
          <div class="spinner-icon"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedType == 'list' && !loading">
        <div class="trucks__item row" *ngFor="let item of trucks">
          <div class="col-sm-7">
            <div class="trucks__item__image">
              <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_seSfHCFqClUsiGEFQ5t2g9I3bmv_qYarYRMuVwH7OK9TIZe8"
                alt="">
              <div class="trucks__item__image-driver" [ngStyle]="{'background-image':'url(http://www.clker.com/cliparts/d/L/P/X/z/i/no-image-icon-hi.png)'}">
                <!-- <img src="http://www.clker.com/cliparts/d/L/P/X/z/i/no-image-icon-hi.png" alt=""> -->
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="trucks__item__description">
              <div class="trucks__item__description__driver">
                <h2>Aleh</h2>
              </div>
              <div class="trucks__item__description__mark">

                <div class='rating-stars rating-stars-green'>
                  <ul id='stars'>
                    <li class='star selected' title='Poor' data-value='1'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star selected' title='Fair' data-value='2'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star selected' title='Good' data-value='3'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star selected' title='Excellent' data-value='4'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star selected' title='WOW!!!' data-value='5'>
                      <i class='fa fa-star fa-fw'></i>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="form-group trucks__item__description__item">
                <p>Населений пункт</p>
                <h4>{{getShortAddress(item.address.label)}}</h4>
              </div>
              <div class="form-group trucks__item__description__item">
                <p>Тонаж</p>
                <h4>asd</h4>
              </div>
              <div class="form-group trucks__item__description__item">
                <p>Ціна за км</p>
                <h4>asd</h4>
              </div>
            </div>

          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedType == 'map' && !loading">
        <agm-map [ngClass]="{'disabled':focusedInputClass}" [styles]="mapSettings.styles" [(latitude)]="mapSettings.latitude"
          [(longitude)]="mapSettings.longitude" [zoom]="16">
          <agm-marker [latitude]="mapSettings.latitude" [longitude]="mapSettings.longitude" [iconUrl]="'https://image.ibb.co/hbLi9c/cursor_1.png'">
          </agm-marker>
          <agm-marker *ngFor="let truck of trucks" [iconUrl]="'https://raw.githubusercontent.com/Bemmm/evo/release/src/app/home/trucks/assets/icon.png'"
            (markerClick)="showTruckInfo(this.truck)" [latitude]="truck.address.coordinates[0]" [longitude]="truck.address.coordinates[1]">
          </agm-marker>
        </agm-map>
      </ng-container>
    </div>
  </div>
</div>

<p-dialog class="evo-dialog evo-dialog-truck-info" *ngIf="selectedTruck" [(visible)]="selectedTruck" [modal]="true"
  [responsive]="true" [width]="820" [minWidth]="200" [baseZIndex]="10000">
  <div class="trucks__item trucks__item-dialog row">
    <div class="col-sm-6">
      <div class="trucks__item__image">
        <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_seSfHCFqClUsiGEFQ5t2g9I3bmv_qYarYRMuVwH7OK9TIZe8"
          alt="">
          <div class="trucks__item__image-driver" [ngStyle]="{'background-image':'url(http://www.clker.com/cliparts/d/L/P/X/z/i/no-image-icon-hi.png)'}">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="trucks__item__description">
        <div class="trucks__item__description__driver">
          <h2>{{selectedTruck.owner.name}}</h2>
        </div>
        <div class="trucks__item__description__mark">

          <div class='rating-stars rating-stars-green'>
            <ul id='stars'>
              <li class='star selected' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star selected' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            </ul>
          </div>

        </div>
        <div class="trucks__item__description__item ">
          <p>Авто:
            <b>{{selectedTruck.car_attributes.brand.name}} {{selectedTruck.car_attributes.model.name}} </b>
          </p>
        </div>
        <div class="trucks__item__description__item">
          <p>Грузопідйомність:
            <b>{{selectedTruck.weight_limit}} кг</b>
          </p>
        </div>
        <div class="trucks__item__description__item">
          <p>Р.номер:
            <b>{{selectedTruck.registration_number}}</b>
          </p>
        </div>
        <div class="trucks__item__description__item">
          <p>Пасажирських місць:
            <b>{{selectedTruck.passengers_count}}</b>
          </p>
        </div>
        <div class="trucks__item__description__item">
          <p>Ціна:
            <b>{{selectedTruck.price}} грн/км</b>
          </p>
        </div>
        <div class="trucks__item__description__item">
          <p>
            <b>Є можливість перевезти:</b>
          </p>
          <div class="trucks__item__description__item__list">
            <div *ngFor="let item of selectedTruck.car_types">
              <div class="trucks__item__description__item__list__car type{{item.value}}"></div>
              <div>{{item.name}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-1">
    <div class="col-sm-6">
      <agm-map class="dialog__map" [styles]="mapSettings.styles" [disableDefaultUI]="true" [(latitude)]="selectedTruck.address.coordinates[0]"
        [(longitude)]="selectedTruck.address.coordinates[1]" [zoom]="16">
        <agm-info-window [isOpen]="true" [latitude]="selectedTruck.address.coordinates[0]" [longitude]="selectedTruck.address.coordinates[1]">Евакуатор
          знаходиться:
          <br>
          <b>{{getShortAddress(this.selectedTruck.address.label)}}</b>
        </agm-info-window>
      </agm-map>
    </div>
    <div class="col-sm-6">
      <p>{{selectedTruck.description}}</p>
    </div>
  </div>
  <div class="row text-center">
    <a class="evo-button evo-button-green" href="tel:{{selectedTruck.owner.phone}}">Зателефонувати</a>
    <div class="form-group callToAction">
      <div *ngIf="!showNumber" (click)="showNumber = true">Показати номер телефону</div>
      <div *ngIf="showNumber">+{{selectedTruck.owner.phone}}</div>
    </div>
  </div>
</p-dialog>
